body{
	margin: 0 auto;
	background-color: #333333;
	position: relative;
	width: 900px;
	font-family: sans-serif;
}
div{
	margin: 0 auto;
	position: relative;
}
section{
	width: 100%;
	background-color: #e6e6e6;
	padding-bottom: 10px;
	margin-top: 10px;
}
code{
	width: auto;
	color: #4c4c4c;
}
textarea{
    border: medium none;
    color: gray;
    height: 397px;
    resize: none;
    text-align: left;
    width: 698px;
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}
p{
	font-size: 12px;
}
p, h4{
	padding: 0 20px;
}
h1{
	text-align: center;
	background-color: #004080;
	color: white;
	padding: 5px;
}
h2{
	background-color: #008080;
	color: white;
	padding: 5px;
}
